<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{#user}}
    <h1>{{user}}</h1>
{{/user}}
{{^user}}
    <button><a href="/oauth2/authorization/google">구아로</a></button>
{{/user}}
</body>
</html>